.header{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__logo{
  height: 40px;
  width: 40px;
  padding: 24px;
  margin: 30px 0 0 40px;
}

