@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}
.container {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: flex-end;
}
.icon {
  position: relative;
  height: 70px;
  width: 70px;
}
.info img {
  position: absolute;
  height: 95%;
  width: 95%;
  top: 80%;
  left: 50%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.hover-content {
  height: 350px;
  width: 350px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  z-index: 0;
}
.icon:hover .hover-content {
  left: -100px;
  z-index: 12;
}
.hover-content img {
  margin-top: 1rem;
  border-radius: 25px;
  /* height: 50%; */
  width: 70%;
  object-fit: cover;
  border: 2px solid white;
}
.hover-content span {
  font-size: 1.56rem;
  color: white;
  opacity: 0;
}

.menu {
  position: absolute;
  width: 100%;
  bottom: -70px;
  left: 0;
}
/* .menu::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 50%;
  background-color: white;
  bottom: -12px;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1; 
}  */
.menu .details {
  position: relative;
  background: white;
  width: 22%;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
  opacity: 0;
  transform: translateY(10px);
}
.icon:hover .details {
  opacity: 1;
  transform: translateY(4px);
}
.icon:hover span {
  opacity: 1;
}
.menu .details::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 50%;
  background-color: white;
  bottom: -10px;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}
