.container {
  display: flex;
  width: 88vw;
  height: 70vh;
}
.icon {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  padding: 10px;
  width: 8vw;
  align-items: center;
}
.icon1 {
  border: 2px dotted red;
  margin-bottom: 10px;
}
.area-1 {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  margin-left: 3px;
  width: ;
}
